<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

  <!-- Bootstrap stylesheets and script -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/site.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>


</head>

<body>

<div th:fragment="page-header">
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top headers" role="navigation">
    <div class="container">
       <!--/.nav-collapse -->
     Premium Decor
    </div>
  </div>
</div>

<div th:fragment="page-footer">
  <footer>
    <div class="container">
      <p class="text-muted">© 2021 Premium Decor</p>
    </div>
  </footer>

</div>

</body>
</html>